version: '3.1'
services:
  bot:
    networks:
      - default

  ticker:
    networks:
      - default

  mysql:
    networks:
      - default
    ports:
      - "33067:3306"
    volumes:
      - docker_mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=project
      - MYSQL_USER=developer
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_PASSWORD=password
      - TZ=Europe/Kiev

volumes:
  docker_mysql:
